<div>
	<div class="well" style="font-size: 15px; padding-top: 15px;padding-bottom: 15px;">
		<div class="margin-bottom-2">
			<span class="buoy-data-header">Closest Buoy: </span>
			<span class="buoy-data"><span ng-bind="weather.closestBuoy"></span></span>
		</div>
		<div class="margin-bottom-2">
			<span ng-bind="weather.buoyName" class="buoy-data"></span>
		</div>
		<div class="margin-bottom-2">
			<span class="buoy-data-header">Record Date: </span>
			<span class="buoy-data">{{weather.datetime | date:'M/d/yy h:mm a'}}</span>
		</div>
		<div class="margin-bottom-2" ng-show="weather.windDirection">
			<span class="buoy-data-header">Wind Direction: </span>
			<span class="buoy-data"><span ng-bind="weather.windDirection || 'not reported'"></span> <span ng-bind="weather.windDirectionUOM"></span></span>
		</div>
		<div class="margin-bottom-2" ng-show="weather.windSpeed">
			<span class="buoy-data-header">Wind Speed: </span>
			<span class="buoy-data"><span ng-bind="weather.windSpeed || 'not reported'"></span> <span ng-bind="weather.windSpeedUOM"></span></span>
		</div>
		<div class="margin-bottom-2" ng-show="weather.windGust">
			<span class="buoy-data-header">Wind Gust: </span>
			<span class="buoy-data"><span ng-bind="weather.windGust || 'not reported'"></span> <span ng-bind="weather.windGustUOM"></span></span>
		</div>
		<div class="margin-bottom-2" ng-show="weather.waveHeight">
			<span class="buoy-data-header">Wave Height: </span>
			<span class="buoy-data"><span ng-bind="weather.waveHeight || 'not reported'"></span> <span ng-bind="weather.waveHeightUOM"></span></span>
		</div>
		<div class="margin-bottom-2" ng-show="weather.domPeriod">
			<span class="buoy-data-header">Dominant Wave Period: </span>
			<span class="buoy-data"><span ng-bind="weather.domPeriod || 'not reported'"></span> <span ng-bind="weather.domPeriodUOM"></span></span>
		</div>
		<div class="margin-bottom-2" ng-show="weather.avgPeriod">
			<span class="buoy-data-header">Average Wave Period: </span>
			<span class="buoy-data"><span ng-bind="weather.avgPeriod || 'not reported'"></span> <span ng-bind="weather.avgPeriodUOM"></span></span>
		</div>
		<div class="margin-bottom-2" ng-show="weather.meanWaveDirection">
			<span class="buoy-data-header">Mean Wave Direction: </span>
			<span class="buoy-data"><span ng-bind="weather.meanWaveDirection || 'not reported'"></span> <span ng-bind="weather.meanWaveDirectionUOM"></span></span>
		</div>
		<div class="margin-bottom-2" ng-show="weather.pressure">
			<span class="buoy-data-header">Pressure: </span>
			<span class="buoy-data">
				<span ng-bind="weather.pressure || 'not reported'"></span><span ng-bind="weather.pressureUOM"></span> 
				<span ng-show="weather.pressureUOM">and</span> <span ng-bind="weather.pressureTendency"></span>
			</span>
		</div>
		<div class="margin-bottom-2" ng-show="weather.airTemp">
			<span class="buoy-data-header">Air Temperature: </span>
			<span class="buoy-data"><span ng-bind="weather.airTemp || 'not reported'"></span> <span ng-bind="weather.airTempUOM"></span></span>
		</div>
		<div class="margin-bottom-2" ng-show"weather.waterTemp">
			<span class="buoy-data-header">Water Temperature: </span>
			<span class="buoy-data"><span ng-bind="weather.waterTemp || 'not reported'"></span> <span ng-bind="weather.waterTempUOM"></span></span>
		</div>
	</div>
	<style>
	 	.buoy-data-header {
	 		color: #333;
	 	}
	 	.buoy-data {
	 		color: #888;
	 	}
	 	.margin-bottom-2 {
	 		margin-bottom: 2px;
	 	}
	</style>
</div>