<!-- Sliding Left Nav for mobile -->
<div mobile-left-nav></div>

<div id="wrap" class="menu-page sp-page">
    <!-- Fixed navbar -->
    <div mobilemenu></div>

	<div class="container">
	    
        <div class="info respondant" ng-hide="working || user.offline" style="padding-top: 0px">
	        <h4>You have completed the {{survey.name}} event.</h4>
            
            <button class="btn btn-main btn-default btn-block" ng-click="newEvent()">New {{survey.name}} Event</button>
            <button class="btn btn-main btn-default btn-block" ng-show="otherLogbooksExist" ng-click="newEvent()">New Logbook</button>
            <button class="btn btn-main btn-default btn-block" ng-click="reviewTripReport()">Submit Trip Log</button>            
            
	    </div>

        <div ng-show="user.offline">
            <h3>You are currently offline.</h3>
            <p>Please complete your registration before submitting your report.</p>
            <a class="btn btn-main btn-default btn-lg btn-block" href="#/signup" ng-show="user.status == 'signup'">Finish Signing Up</a>
            <a class="btn btn-main btn-default btn-lg btn-block" href="#/signin" ng-show="user.status == 'signin'">Finish Signing In</a>
            <a class="btn btn-main btn-default btn-lg btn-block" ng-click="continueOffline()">Continue Offline</a>
        </div>
        
        <div class="loading-indicator" ng-show="working">
            <h3>Submitting Report...</h3>
            <div class="bar">
                <i class="sphere"></i>
            </div>

        </div>

	</div>
</div>

<!-- <div id="footer" ng-hide="sendingFeedback">
    <a class="btn pull-left" ng-click="skipBack()"><span class="glyphicon glyphicon-arrow-left"></span></a>
</div> -->