<div id="set-location-question" style="height: 100%; width: 100%; position: fixed; margin-left: -50px; margin-top: -60px">
	<div class="well" style="position: absolute; z-index: 2; padding: 5px 20px; margin-top: 5px;">
		<div class="question row input-group" style="background-color: #eee;">
			<div class="col-xs-2" style="margin-top: 10px; padding: 5px;">
				<span style="font-size: 18px;">Lat</span>
			</div>
			<div class="col-xs-3" style="padding: 5px;">
				<input class="form-control" type="text" placeholder="D" ng-model="question.latDegrees" />
			</div>
			<div class="col-xs-3" style="padding: 5px;">
				<input class="form-control" type="text" placeholder="M" ng-model="question.latMinutes" />
			</div>
			<div class="col-xs-4" style="padding: 5px;">
				<input class="form-control" type="text" placeholder="S" ng-model="question.latSeconds" />
			</div>
		</div>
		<div class="question row input-group" style="background-color: #eee;">
			<div class="col-xs-2" style="margin-top: 10px; padding: 5px;">
				<span style="font-size: 18px;">Lon</span>
			</div>
			<div class="col-xs-3" style="padding: 5px;">
				<input class="form-control" type="text" placeholder="D" ng-model="question.lngDegrees" />
			</div>
			<div class="col-xs-3" style="padding: 5px;">
				<input class="form-control" type="text" placeholder="M" ng-model="question.lngMinutes" />
			</div>
			<div class="col-xs-4" style="padding: 5px;">
				<input class="form-control" type="text" placeholder="S" ng-model="question.lngSeconds" />
			</div>
		</div>
	</div>
	<div id="set-location-map" class="map" style="position: absolute; top: 115px; height: 100%; width: 100%"></div>
</div>