<div id="sp-nav" class="ng-scope" style="background-color: rgb(50, 50, 50); z-index: 0"> 
    <div class="navbar" style="height: 90px; color: #ccc;">
        <span class="icon-male icon-3x" style="position: absolute; left: 10px; top: 20px;"></span>
        <span style="font-size: 28px; position: absolute; left: 45px; top: 25px;">{{user.username}}</span>  
    </div>
    <div class="container">
        <div style="margin-top: -10px">
            <a href="#/surveys">
                <div class="sp-nav-option">
                    <span class="icon-anchor"></span>
                    <span class="left-align">Trips</span>
                </div>
            </a>
            <div class="sp-nav-option">
                <span class="icon-globe"></span>
                <span class="left-align">Maps</span>
            </div>
            <div class="sp-nav-option">
                <span class="icon-bar-chart"></span>
                <span class="left-align">Reports</span>
            </div>
            <div class="sp-nav-option">
                <span class="icon-dollar"></span>
                <span class="left-align">Expenses</span>
            </div>
            <div class="sp-nav-option">
                <span class="icon-file-text-alt"></span>
                <span class="left-align">Regulations</span>
            </div>
        </div>
        <div style="color: #ccc; border-top: 1px; border-top-style:solid; margin-top: 15px;">
            <div>
                <span>On My Device</span>
                <span class="pull-right" ng-show="version">v {{version}}</span>
            </div>
            <div class="sp-nav-option">
                <span class="icon-folder-open"></span>
                <span class="left-align">Offline</span>
            </div>
        </div>
    </div>
    <style media="screen" type="text/css">
    .sp-nav-option {
        font-size: 24px; 
        color: #ccc;
        list-style-type: none;
        margin: 5px;  
        margin-bottom: 10px;
        cursor: pointer;
    }
    .sp-nav-option .left-align {
        position: absolute;
        left: 60px;
    }
    .sp-nav-option:hover {
        background-color: rgb(25, 25, 25);  
    }
    </style>
</div>