<!-- Sliding Left Nav for mobile -->
<div mobile-left-nav></div>

<div id="wrap" class="menu-page profile sp-page">
    <div profilemenu></div>
    
    <!-- Begin page content -->
    <div class="container">
        <div ng-show="user" ng-hide="loading">

            <div class="forms">
                <div class="new-user-form">
                    <form ng-submit="updateProfile(profileQuestions)">
                        
                        <div class="well" style="padding: 5px">                       
                            <div class="question profile-question">
                                <input class="form-control" type="text" placeholder="Your Name" ng-model="fullName" />
                            </div>
                            <div class="question profile-question">
                                <!-- <h4 class="question-title">Email Address</h4> -->
                                <input class="form-control" type="email" placeholder="Email Address" ng-model="userEmail" />
                            </div>
                            <div class="question profile-question">
                                <input class="form-control" type="text" placeholder="CFL Number" ng-model="cflNumber" />
                            </div>
                        </div>

                        <div class="well" style="padding: 5px">
                            <span>My Logbooks</span>
                            <a href="#/profile/logbook">
                                <span class="pull-right icon-plus" style="margin-top: 3px; text-decoration: none; color: #555; cursor: pointer;"></span>
                            </a>
                            <div class="form-control ng-pristine" style="padding-top: 10px;" ng-repeat="logbook in logbooks">
                                <a href="#/profile/logbook/{{logbook.slugname}}" style="width: 100%; text-decoration: none; cursor: pointer; color: #555;">
                                    <span class="pull-left" style="font-weight: bold; text-transform: capitalize;">{{logbook.slugname}}</span>
                                    <span class="pull-right icon-angle-right" style="margin-top: 3px;"></span>
                                </a>
                            </div>
                        </div>

                        <!-- <div class="question-wrapper" ng-repeat="question in profileQuestions">
                            <h4 class="question-title">{{ question.title }}</h4>
                            <div ng-switch on="question.type">
                                <div ng-switch-when="grid">
                                    <form ng-submit="$parent.submitPage(page)">
                                        <div gridquestion question="question" answers="answers" validity="validity" pageorder="$index"  viewpath="viewPath"></div>
                                    </form>
                                </div>
                                <div ng-switch-default>
                                    <div multiquestion question="question" answers="answers" validity="validity"></div>
                                </div>
                            </div>
                        </div> -->

<!-- 
                        <input class="form-control" type="text" placeholder="enter your username..." data-ng-model="profileQuestions.username" autocapitalize="off" required>

                        <input class="form-control" type="email" placeholder="enter your email address..." data-ng-model="profileQuestions.emailaddress" required>
 -->
                        <!-- <button class="btn btn-main btn-default btn-block" ng-click="updateProfile(profileQuestions)">submit</button> -->
                        <a type="button" class="btn btn-main btn-default btn-lg btn-block" href="#/main">cancel</a>
                                                
                    </form>
                </div>
            </div>
        </div>

        <div class="loading-indicator" ng-show="loading">
            <h3>Loading...</h3>
            <div class="bar">
                <i class="sphere"></i>
            </div>

        </div>

    </div>

    <!-- <div class="alert-notice" ng-show="message">
        <div class="pull-left">{{ message }}</div>
        <button class="btn btn-default btn-outline-inverse pull-right" ng-tap="message = false">ok</button>
    </div> -->

</div>
<!-- <div id="footer">
    <div class="container">
        <p class="text-muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>
    </div>
</div>
 -->
