<!-- Sliding Left Nav for mobile -->
<div mobile-left-nav></div>

<div id="wrap" class="menu-page profile sp-page">
    <div profilemenu></div>
    
    <!-- Begin page content -->
    <div class="container">
        <div ng-show="user" ng-hide="loading">

            <div class="forms">
                <div class="new-user-form">
                    <form ng-submit="updateProfile(profileQuestions)">
                        
                        <div class="well" style="padding: 5px">                       
                            <div class="question profile-question">
                                <input class="form-control" type="text" placeholder="Your Name" ng-model="profile.fullName" />
                            </div>
                            <div class="question profile-question">
                                <!-- <h4 class="question-title">Email Address</h4> -->
                                <input class="form-control" type="email" placeholder="Email Address" ng-model="profile.user.email" />
                            </div>
                            <div class="question profile-question">
                                <input class="form-control" type="text" placeholder="CFL Number" ng-model="profile.cfl" />
                            </div>
                        </div>

                        <div class="well" style="padding: 5px">
                            <span style="font-size: 18px; font-weight: bold; text-transform: uppercase; color: #555;">My Logbooks</span>
                            <span class="pull-right icon-plus" ng-click="addLogbook()" style="font-size: 18px; margin-top: 3px; text-decoration: none; color: #555; cursor: pointer;"></span>
                            <!-- <span class="pull-right icon-pencil" ng-click="editLogbooks()" style="font-size: 18px; margin-top: 3px; margin-right: 10px;  ext-decoration: none; color: #555; cursor: pointer;"></span>
                            
                            <span>My Logbooks</span>
                            <a href="#/profile/logbook">
                                <span class="pull-right icon-plus" style="margin-top: 3px; text-decoration: none; color: #555; cursor: pointer;"></span>
                            </a> 
                            <span class="pull-right icon-plus" ng-click="addLogbook()" style="margin-top: 3px; text-decoration: none; color: #555; cursor: pointer;"></span>-->
                            <div ng-style="{ 'margin-top: 10px': !logbookToEdit }">
                                <div class="form-control ng-pristine" style="padding-top: 10px; margin-bottom: 5px;" ng-repeat="logbook in profile.logbooks">
                                    <!-- <a href="#/profile/logbook/{{logbook.slugname}}" style="width: 100%; text-decoration: none; cursor: pointer; color: #555;"> -->
                                    <span ng-click="editLogbook(logbook.type)" style="width: 100%; cursor: pointer; color: #555;">
                                        <span class="pull-left" style="font-weight: bold; text-transform: capitalize;">{{logbook.type}}</span>
                                        <span class="pull-right icon-angle-right" style="margin-top: 3px;"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-main btn-default btn-block" ng-click="cancel()">cancel</button>
                                                
                    </form>
                </div>
            </div>
        </div>

        <div class="loading-indicator" ng-show="loading">
            <h3>Loading...</h3>
            <div class="bar">
                <i class="sphere"></i>
            </div>

        </div>

    </div>

    <!-- <div class="alert-notice" ng-show="message">
        <div class="pull-left">{{ message }}</div>
        <button class="btn btn-default btn-outline-inverse pull-right" ng-tap="message = false">ok</button>
    </div> -->

</div>

