<div class="navbar navbar-default navbar-fixed-top" style="height: 60px;">
    <div class="status-bar"></div>

    <button class="btn pull-right" style="margin-top: 12px; margin-right: 10px;" ng-click="closeView(page)">
        <span ng-hide="savePage">Done</span><span ng-show="savePage">Save</span>
    </button>

    <!-- <a type="button" class="navbar-toggle" href="#/main">
        <i class="icon-align-justify"></i>
    </a> -->
    <!-- <a id="topnav-menu-button" type="button" class="navbar-toggle" ng-click="$spMenu.toggle()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-reorder" style="color: #ddd; cursor: pointer;"></span>
    </a> -->

    <!-- <div ng-show="answers">
        <a class="pull-right survey-arrow" ng-class="{ 'valid': pageIsValid }" ng-click="submitPage(page)"><span class="glyphicon glyphicon-arrow-right"></span></a>
        <a class="pull-right survey-arrow" ng-click="skipBack()"><span class="glyphicon glyphicon-arrow-left"></span></a>
    </div> -->

    <!-- <a type="button" class="navbar-comment" ng-show="showFeedback" ng-click="sendingFeedback = ! sendingFeedback">
        <i class="icon-comment"></i>
    </a> -->
    <!-- <a type="button" class="navbar-comment" ng-show="showUpdateSurveys" ng-click="updateSurveys()">
        <i class="icon-refresh"></i>
    </a> -->
    <div class="container" style="background-color: rgb(51,51,51);">
        <div class="navbar-header">
            <div ng-show="title" class="navbar-brand" style="text-align: center; font-size: 28px; color: #ddd;">
                {{title}}
                <!-- <img src="assets/img/deck-logo.svg" class="center logo" /> -->
            </div>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

            </ul>
        </div>
        <!--/.nav-collapse -->

    </div>
    <!-- <div class="progress" style="margin-bottom: 0; border-radius: 0; background-color: rgb(50, 50, 50); height: 10px;">
        <div class=" progress-bar" style="width: {{ surveyProgress }}%;"></div>
    </div> -->
    
</div>
