<div class="navbar navbar-default navbar-fixed-top" style="height: 60px;">
    <div class="status-bar"></div>

    <button class="btn pull-right" style="margin-top: 12px; margin-right: 10px;" ng-click="updateProfile(this)">
        <span ng-hide="savePage">Done</span><span ng-show="savePage">Save</span>
    </button>

    <div class="container" style="background-color: rgb(51,51,51);">
        <div class="navbar-header">
            <div ng-show="title" class="navbar-brand" style="text-align: center; font-size: 28px; color: #ddd;">
                {{title}}
                <!-- <img src="assets/img/deck-logo.svg" class="center logo" /> -->
            </div>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

            </ul>
        </div>

    </div>
    
</div>
