
<div class="question">
    <!-- <div class="select mrm"> -->
    <!-- show if groupedOptions ARE present -->
    <div ng-show="question.groupedOptions">
        <div class="panel-group grouped-options">
            <div class="panel panel-default" ng-repeat="groupOption in question.groupedOptions">
                <!-- <div class="panel-heading" ng-click="groupOption.open = !groupOption.open"> -->
                <div class="panel-heading" ng-click="$parent.openOption(groupOption)">
                    <h4 class="panel-title">
                        <a class="accordion-toggle">
                          {{groupOption.optionLabel}}
                        </a>
                    </h4>
                </div>
                <div id="{{ groupOption.optionLabel }}" class="panel-collapse collapse" ng-class="{ 'in': groupOption.open }">
                    <div class="panel-body">
                        <ul class="choices list-unstyled">
                            <li class="option" ng-click="$parent.onSingleSelectClicked(option, $parent.question)" ng-repeat="option in groupOption.options" ng-class="{'select-unchecked': !option.checked, 'select-checked': option.checked, 'option-group-name': option.isGroupName }">
                                <div class="select-content">
                                    <div class="checkbox"></div>
                                    <h4 class="select-name option-name">
                                        {{option.text}}
                                    </h4>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <!-- <div ng-show="question.allow_other">

                <ul  ng-class="{'option-checked': question.answerSelected, 'option-unchecked': !question.answerSelected  }" class="select choices list-unstyled">
                    <li class="option" ng-click="onSingleSelectClicked(question.otherOption, question)" ng-class="{'select-checked': question.otherOption.checked }" ng-model="question.otherAnswer.text">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle">
                                    Other
                                </a>
                            </h4>

                        </div>
                    </li>
                </ul>

                <div ng-show="question.allow_other && question.otherOption.checked" ng-class="{'other-input-selected': question.otherAnswer}">
                    <div ng-show="question.otherAnswer" class="other-checkbox"></div>
                    <input class="form-control multi-select-other" type="text" ng-class="{'with-text': question.otherAnswer}" placeholder="Enter Other Option Here" ng-model="question.otherAnswer" />
                </div>

                <div ng-show="question.allow_other && question.otherOption.checked" ng-class="{'other-input-selected': question.otherAnswers[0], 'select-checked': question.otherAnswers[0], 'select-unchecked': ! question.otherAnswers[0] }">
                    <div class="other-checkbox"></div>
                    <input class="select-content multi-select-grouped-other" type="text" ng-class="{'with-text': question.otherAnswers[0]}" placeholder="Other" ng-model="question.otherAnswers[0]" />
                </div>

            </div> -->


        </div>
    </div>

    <!-- show if groupedOptions are NOT present -->
    <div class="select mrm">
        <div ng-show="!question.groupedOptions || question.groupedOptions.length == 0" ng-class="{'option-checked': $parent.question.answerSelected, 'option-unchecked': ! $parent.question.answerSelected }">
            <ul class="list-unstyled">
                <li class="option" ng-click="$parent.onSingleSelectClicked(option, $parent.question)" ng-repeat="option in question.options" ng-class="{'select-checked': option.checked, 'select-unchecked': ! option.checked  }">
                    <div class="select-content">
                        <div class="checkbox"></div>
                        <h4 class="select-name option-name">
                            {{ option.text || option.name }}
                        </h4>

                    </div>
                </li>
                <!-- <li class="option" ng-show="question.allow_other" ng-click="$parent.onSingleSelectClicked($parent.question.otherOption, $parent.question)" ng-class="{'select-checked': $parent.question.otherOption.checked, 'select-unchecked': ! $parent.question.otherOption.checked }">
                    <div class="select-content">
                        <div class="checkbox"></div>
                        <h4 class="select-name option-name">
                            Other
                        </h4>
                    </div>
                </li> -->
            </ul>
            <div ng-show="question.slug == 'vessel'" ng-class="{'select-checked': question.otherAnswers[0], 'select-unchecked': ! question.otherAnswers[0] }" class="other-option">
                <div class="select-content single-select-other" style="height: 30px; background-color: white; padding-top: 3px;" ng-click="onSingleSelectClicked(null, question)">
                    Add New Vessel
                </div>
            </div>
            <div ng-show="question.allow_other && question.slug != 'vessel'" ng-class="{'select-checked': question.otherAnswers[0], 'select-unchecked': ! question.otherAnswers[0] }" class="other-option">
                <div class="other-checkbox"></div>
                <input class="select-content single-select-other" type="text" ng-class="{'with-text': question.otherAnswers[0]}" placeholder="Other" ng-model="question.otherAnswers[0]" />
            </div>
        </div>


        <script id="addVesselFromSurvey" type="text/ng-template">                                
            <div class="modal-body">
                <div class="well" style="padding: 5px; margin-bottom: 0px;">            
                    <div class="question profile-question">
                        <h4 class="question-title" style="color: #555; margin-top: 5px">Add New Vessel</h4> 
                        <input class="form-control" ng-focus="editingVessel=true" ng-blur="editingVessel=false" type="text" placeholder="Vessel Name" ng-model="vessel.name" />
                        <input class="form-control" ng-focus="editingVessel=true" ng-blur="editingVessel=false" type="text" placeholder="Vessel Number" ng-model="vessel.number" />
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="margin-top: 0px">
                <button class="btn btn-primary" ng-disabled="editingVessel" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-disabled="editingVessel" ng-click="cancel()">Cancel</button>
            </div>
        </script>
    </div>

    <!-- <input class="form-control" type="text" placeholder="Other Option" ng-show="question.otherOption.checked" ng-model="question.otherAnswer" /> -->
</div>