<!-- Sliding Left Nav for mobile -->
<div mobile-left-nav></div>

<div id="wrap" class="main sp-page">
    <div mobilemenu></div>

    <div class="container" style="padding: 120px 30px 30px;">
        <div class="well" style="padding: 15px">
            <h4 style="color: #333; margin-top: 0px">Experiencing problems?</h4> 
            <div>
                It's probably our fault...
            </div>
            <div style="margin-top: 10px">
                Feel free to call, text, or email us at any time.
            </div>
            <div style="margin-top: 10px">
                Dan "The Wolf" Crowther can be reached at <a href="tel:908-977-6897" style="color: #428bca;">908-977-6897</a>
            </div>
            <div style="margin-top: 10px">
                Or via <a href="mailto:support@pointnineseven.com?Subject=south-coast help" target="_blank" style="color: #428bca;">email</a>
            </div>
        </div>
    </div>


</div>
<!-- <div id="footer">
    <div class="container">
        <p class="text-muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>
    </div>
</div>
 -->
