<!-- Sliding Left Nav for mobile -->
<div mobile-left-nav></div>

<!-- list of logbooks (or surveys) -->
<div class="sp-page" style="z-index: 10px; background-color: rgb(77, 136, 153);">

    <div id="wrap" class="menu-page">
        <!-- Fixed navbar -->
        <div mobilemenu></div>

        <!-- Begin page content -->
        <div class="container">
            <div class="loading-indicator" ng-show="hideSurveys">
                <h3>Refreshing Reports...</h3>
                <div class="bar">
                    <i class="sphere"></i>
                </div>

            </div>
            
            <ul class="list-unstyled" ng-hide="hideSurveys">
                <li ng-repeat="survey in surveys">
                    <button class="btn btn-main btn-default btn-lg btn-block" ng-click="startSurvey(survey.slug)">
                        {{ survey.name }}
                    </button>
                </li>
            </ul>
        </div>
    </div>

</div>