<!-- Sliding Left Nav for mobile -->
<div mobile-left-nav></div>

<div id="wrap" class="menu-page sp-page">
    <!-- Fixed navbar -->
    <div mobilemenu></div>

    <div class="container">
        <div>
            <div>
                <div ng-repeat="(type, event) in currentTrip.events">
                    <h4>{{type | uppercase}} LOG <span class="pull-right">{{ currentTrip.uuid | date: 'MM/dd/yy' }}</span></h4>
                    <div class="well"> 
                        <div><span>Vessel Name: {{event['vessel-name']}}</span></div>
                        <div><span>License #: {{user.registration.license}}</span></div>
                        <div><span>Permit #: {{event['permit-number']}}</span></div>
                        <div><span>Landing Port: {{event['landing-port'].text}}</span></div>
                        <div><span>Dealer: {{event.dealer}}</span></div>
                    </div>
                    <div class="well" style="padding: 5px">
                        <span class="profile-question-header">Log Summaries</span>
                        <div class="form-control ng-pristine" style="padding-top: 10px; margin-bottom: 5px; font-size: 16px" ng-repeat="speciesObj in speciesCaught">
                            <span ng-click="viewSpeciesSummary(speciesObj)" style="width: 100%; cursor: pointer; color: #555;">
                                <span class="pull-left" style="font-weight: bold; text-transform: capitalize;">{{speciesObj.name | uppercase}}</span>
                                <span class="pull-right icon-chevron-right" style="margin-top: 3px;"></span>
                            </span>
                        </div>
                    </div>
                </div>

                <div>
                    

                </div>

                <script id="speciesSummary" type="text/ng-template" options="{dialogClass: 'testing'}"> 
                    <div class="modal-header">
                        <div ng-show="title" class="navbar-brand" style="text-align: center; font-size: 28px; color: #ddd;">
                            <span>{{speciesObj.name}}</span>
                            <button class="btn btn-primary pull-right" style="margin-top: -7px; margin-right: -10px;" ng-click="ok()">OK</button>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="well" style="padding: 5px;" ng-repeat="event in speciesObj.events">
                            <h4 class="question-title" style="color: #555; margin-top: 5px">{{event.siteName | uppercase}}</h4>
                            <div class="well" style="padding: 5px">
                                <span class="profile-question-header">Location</span>
                                <div><span>Lat: {{event.location.lat}}</span></div>
                                <div><span>Long: {{event.location.lng}}</span></div>
                                <div><span>Block: {{event.location.block}}</span></div>
                                <div><span>Landmark: {{event.location.landmark}}</span></div>
                            </div>
                            <div class="well" style="padding: 5px">
                                <span class="profile-question-header">Harvest</span>
                                <div><span>Weight: {{event.harvest.weight}} lbs</span></div>
                                <div><span>Hours: {{event.harvest.hours}}</span></div>
                                <div><span>Depth: {{event.harvest.minDepth}} - {{event.harvest.maxDepth}} ft</span></div>
                            </div>
                            <div class="well" style="padding: 5px">
                                <span class="profile-question-header">Incidental Species</span>
                                <div ng-repeat="species in event.incidentals.answer"><span>{{species.text}}: {{species.lbs}} lbs</span></div>
                            </div>
                            <div class="well" style="padding: 5px">
                                <span class="profile-question-header">Notes</span>
                                <div><span>{{event.notes.answer}}</span></div>
                            </div>
                        </div>
                    </div>
                </script>


            </div>

            <div>
                <h3>Submit Trip Log</h3>
                <a class="btn btn-main btn-default btn-lg btn-block btn-danger" ng-click="submitTripLog()">now</a>
                <a class="btn btn-main btn-default btn-lg btn-block" ng-click="saveTripLog()">later</a>
            </div>
        </div>
    </div>

    <div ng-show="busy" ng-include="viewPath + 'views/spinner.html'"></div>

</div>
