<!-- Sliding Left Nav for mobile -->
<div mobile-left-nav></div>

<div id="wrap" class="menu-page sp-page">
    <!-- Fixed navbar -->
    <div mobilemenu></div>

    <div class="container">

        <div class="loading-indicator" ng-show="working">
            <div class="bar">
                <i class="sphere"></i>
            </div>
        </div>

        <div ng-hide="working">

            <div>
                <div ng-repeat="(type, event) in trip.events">
                    <h4>{{type | uppercase}} LOG <span class="pull-right">{{ $parent.trip.startDate | date: 'MM/dd/yy' }}</span></h4>
                    <div class="well"> 
                        <div><span>Vessel Name: {{event['vessel-name']}}</span></div>
                        <div><span>License #: {{user.registration.license}}</span></div>
                        <div><span>Permit #: {{event['permit-number']}}</span></div>
                        <div><span>Landing Port: {{event['landing-port'].text}}</span></div>
                        <div><span>Dealer: {{event.dealer}}</span></div>
                    </div>
                    <div class="well" style="padding: 5px">
                        <span class="profile-question-header">Log Summaries</span>
                        <div class="form-control ng-pristine" style="padding-top: 10px; margin-bottom: 5px; font-size: 16px; cursor: pointer;" ng-click="viewSpeciesSummary(speciesObj)" ng-repeat="speciesObj in speciesCaught">
                            <span style="width: 100%; color: #555;">
                                <span class="pull-left truncate" style="font-weight: bold; text-transform: capitalize;">{{speciesObj.name | uppercase}}</span>
                                <span class="pull-right icon-chevron-right" style="margin-top: 3px;"></span>
                            </span>
                        </div>
                    </div>
                </div>

                <script id="speciesSummary" type="text/ng-template" options="{dialogClass: 'testing'}"> 
                    <div id="species-summary-modal">
                        <div class="modal-header">
                            <div ng-show="title" class="navbar-brand modal-header-title-bar">
                                <span class="modal-header-title">{{speciesObj.name}}</span>
                                <button class="btn btn-primary pull-right modal-header-ok" ng-click="ok()">OK</button>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="well" style="padding: 10px;" ng-repeat="event in speciesObj.events">
                                <h4 class="question-title" style="color: #555; margin-top: 5px; margin-bottom: 15px;">{{event.siteName | uppercase}}</h4>
                                <div class="well" style="padding: 5px">
                                    <span class="profile-question-header">Location</span>
                                    <div><span>Lat: {{event.location.latDMS[0]}} Deg {{event.location.latDMS[1]}} Min {{event.location.latDMS[2]}} Sec </span></div>
                                    <div><span>Long: {{event.location.lngDMS[0]}} Deg {{event.location.lngDMS[1]}} Min {{event.location.lngDMS[2]}} Sec </span></div>
                                    <div><span>Block: {{event.location.block}}</span></div>
                                    <div><span>Landmark: {{event.location.landmark}}</span></div>
                                </div>
                                <div class="well" style="padding: 5px">
                                    <div ng-show="event.noCatch">
                                        <span class="profile-question-header">(Non) Harvest</span>
                                    </div>
                                    <div ng-hide="event.noCatch">
                                        <span class="profile-question-header">Harvest</span>
                                        <div><span>Weight: {{event.harvest.weight}} lbs</span></div>
                                        <div><span>Grade: {{event.harvest.grade}} </span></div>
                                    </div>
                                    <div><span>Hours: {{event.harvest.hours}}</span></div>
                                    <div ng-show="event.harvest.minDepth != '?' || event.harvest.maxDepth != '?'"><span>Depth: {{event.harvest.minDepth}} - {{event.harvest.maxDepth}} ft</span></div>
                                    <div ng-show="event.harvest.minDepth == '?' && event.harvest.maxDepth == '?'"><span>Depth: Not Reported</span></div>
                                </div>
                                <div class="well" style="padding: 5px">
                                    <span class="profile-question-header">Incidental Species</span>
                                    <div ng-show="!event.incidentals.answer.length"><span>None Reported</span></div>
                                    <div ng-show="event.incidentals.answer.length" ng-repeat="species in event.incidentals.answer"><span>{{species.text}}</span></div>
                                </div>
                                <div class="well" style="padding: 5px">
                                    <span class="profile-question-header">Weather</span>
                                    <div ng-include src="'views/buoyWeatherDiv.html'"></div>
                                </div>
                                <div class="well" style="padding: 5px">
                                    <span class="profile-question-header">Notes</span>
                                    <div><span>{{event.notes.answer}}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </script>


            </div>

            <div ng-hide="calledFromMaps">
                <a class="btn btn-main btn-default btn-lg btn-block btn-danger" ng-click="submitTripLog()">Submit Trip Log</a>
                <a class="btn btn-main btn-default btn-lg btn-block" ng-hide="calledFromUnsubmittedTripList" ng-click="saveTripToLocalStorage()">Save for later</a>
            </div>
        </div>
    </div>

    <div ng-show="busy" ng-include="viewPath + 'views/spinner.html'"></div>

    <style media="screen" type="text/css">
        .truncate {
            width: 90%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        #species-summary-modal .modal-header {
            max-height: 75px;
            padding-top: 10px;
        }
        #species-summary-modal .modal-header-title-bar {
            text-align: center; 
            font-size: 28px; 
            color: #ddd;
            margin-top: 0px;
        }
        #species-summary-modal .modal-header-title {
            display: inline-block;
            max-width: 90%;
            margin-top: -13px;
            line-height: 30px;
            margin-bottom: -5px;
            margin-left: -50px;
        }
        #species-summary-modal .modal-header-ok {
            margin-right: -10px;
            position: absolute;
            right: 20px;
            top: 18px;
        }
    </style>    

</div>
